%% -*- mode: erlang; flycheck-mode: nil -*-

{deps,
 [{jiffy, "0.14.11"}]}.

{profiles,
 [{test,
   [{deps,
     [{elli, "2.0.1"}]}]},
  {docs,
   [{deps, [{edown, "0.8.1"}]},
    {edoc_opts,
     [
      {dir, "doc"},
      {doclet, edown_doclet},
      {overview, "doc/overview.md"},
      {top_level_readme,
       {"./README.md", "https://github.com/elli-lib/elli_json", "develop"}}
     ]}]}
 ]}.

{project_plugins,
 [{coveralls, "1.4.0"}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_excl_mods, []}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.
